# This file contains environment variables required to run the application.
# Copy this file to a new file named .env and fill in the values.
#
# DO NOT COMMIT THE .env FILE.

# The API key for the Google Gemini service.
GEMINI_API_KEY=""
